<article class="post">
      <div class="title">
        <a href="{{comment_text}}" target="_blank">{{favorite_book}}</a>
        <span>({{ comment_text}})</span>
      </div>
      <div class="meta">
         by {{user.username}} on 
        |
        <a href="/post/{{id}}"></a>
      </div>
    </article>