<article class="post">
      <div class="title">
        <h3>{{favorite_book}}</h3>
        <h4>"{{ comment_text}}"</h4>
      </div>
      <div class="meta">
         {{!-- by {{user.username}} on 
        | --}}
        <a href="/post/{{id}}"></a>
      </div>
    </article>


    {{!-- <a href="{{comment_text}}" target="_blank">{{favorite_book}} by {{user.username}}</a> --}}