<div class="book-info">
  <div class="book-cover-l">
    {{thumbnail}}
  </div>
  <div class="book-title-l">
    {{title}}
  </div>
  <div>
    <p>
      Description:
      {{description}}
    </p>
    <p>Number of Pages:
      {{pageCount}}
    </p>
    {{#if NotSaved}}
    <button id="save-to-favorites" class="btn-no-style">Save Book to Favorites</button>
    {{else}}
    <button id="remove-from-favorites" class="btn-no-style">Remove Book from Favorites</button>
  </div>
</div>

<script src="/public/javascript/index.js"></script>