<div class="book-container">
  <div class="book-display">
    <ul>
      <li>
        <div class="book-cover" id="1">
          {{thumbnail}}
        </div>
        <div class="book-title" id="1">
          {{title}}
        </div>
      </li>
           <li>
        <div class="book-cover" id="2">
          {{thumbnail}}
        </div>
        <div class="book-title" id="2">
          {{title}}
        </div>
      </li>
           <li>
        <div class="book-cover" id="3">
          {{thumbnail}}
        </div>
        <div class="book-title" id="3">
          {{title}}
        </div>
      </li>
           <li>
        <div class="book-cover" id="4">
          {{thumbnail}}
        </div>
        <div class="book-title" id="4">
          {{title}}
        </div>
      </li>
           <li>
        <div class="book-cover" id="5">
          {{thumbnail}}
        </div>
        <div class="book-title" id="5">
          {{title}}
        </div>
      </li>
    </ul>
  </div>
</div>


{{!-- <section>
  <h2>Search for a book: </h2>

  <form class="new-search-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    {{!-- <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div> --}}
    <button type="submit" class="bookSearchBtn" >Search</button>
  </form>
</section> --}}